span{
    color: #666666;
    max-width: 600px;
    text-align: justify;
}

.title-content-wrapper span{
    font-size: 1.7rem;
}

.title-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: 1.2rem;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}

.experiences{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:30px;
}